@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Pretendard-Regular';
}

.container{
    background-color: white;
    min-height: 100vh;
    width: 100%;
    /* border-radius: 10px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.tag-delete-button {
    border-radius: 50%;
    background-color: transparent;
    border-style: none;
    color: #443275;
}

.input-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    border: 2px solid #bdaaf1;
    border-radius: 10px;
    width: 100%;
    padding: 30px;
}


.tag-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.tag-container .task-content-tag {
    margin: 2px;
    cursor: default;
}

.task-tag {
    margin: 20px 0px;
    border-radius: 10px;
    border: 1px solid #bdaaf1;
    outline: none;
    background-color: #bdaaf136;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    width: 250px;
    padding: 4px;
}

.task-tag-container {
    position: relative;
    width: 250px; /* input 태그와 동일한 너비 */
}

.task-tag:focus {
    border: 2px solid #8d72d6;
    background-color: #bdaaf165;
}

.task-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#task-input{
    font-size: 15px;
    border-style: none;
    border-bottom: 1px solid #b099f0;
    outline: none;
    width: 220px;
}

#task-input:focus{
    border-bottom: 2px solid #7852df;
}

#task-tag-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #bdaaf1;
    font-size: 20px;
    border-style: none;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#task-add-button{
    margin: 10px 0px;
    background-color: #bdaaf1;
    color: white;
    border-radius: 50%;
    font-size: 15px;
    border-style: none;
    width: 25px; 
    height: 25px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.task-content-text{
    font-size: 14px;
    margin-bottom: 10px;
}

.task-content-sub-text{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
}

.task-area{
    margin-top: 20px;
}

.task-tabs {
    display: flex;
    position: relative;
    justify-content: center;
}

.task-tabs:hover{
    cursor: pointer;
}

.task-tabs div{
    padding: 10px;
    transition: color 0.3s ease; /* 애니메이션 효과 */
}

.task-tabs div.active {
    font-weight: bold;
    color: #7852df;
    border-bottom: 3px solid  #7852df;;
}

.task-list-container{
    border-bottom: 1px solid black;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #7852df;
    border-radius: 10px;
    margin-bottom: 1px;
}

.task-content-area {
    display: flex;
    flex-direction: column;
}

.task-complete-bg {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1px;
    border: 1px solid #7852df;
    background-color: rgba(126, 98, 202, 0.25);
}

.task-content {
    display: flex; 
    align-items: center;
    font-size: 18px;
}

.task-content-tags{
    display: flex;
}

.task-content-tag {
    font-size: 12px;
    color: white;
    background-color: #b099f0;
    border: 1px solid #d7cbf8;
    border-radius: 10px;
    padding: 2px;
    box-sizing: border-box;
}

.task-complete {
    display: flex; 
    /* justify-content: center; */
    align-items: center; 
    text-decoration: line-through;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}

.task-complete-button{
    background-color: transparent;
    border-style: none;
    font-size: 20px;
    color: #7e62ca;
}

.task-prev-button {
    background-color: transparent;
    border-style: none;
    font-size: 20px;
    color: rgba(0,0,0,0.5);
}

.task-delete-button {
    background-color: transparent;
    border-style: none;
    font-size: 20px;
    color: rgba(231, 86, 60, 0.9);
} 