@font-face {
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

body{
    margin: 0;
    background-color: #B2A3DA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
}

.container{
    background-color: white;
    min-height: 90vh;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.input-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#task-add-button{
    margin-top: 20px;
    background-color: #bdaaf1;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    border-style: none;
}


.task-area{
    border: 1px solid black;
    margin-top: 20px;
}

.task-tabs {
    display: flex;
    border-bottom: 1px solid black;
    position: relative;
    
}

.task-tabs div{
    padding: 10px;
}

#under-line {
    height: 4px;
    background-color: #4B61CF;
    position: absolute;
    width: 100px;
    left: 0px;
    top: 40px;
    padding: 0px;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.task-complete-bg {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(126, 98, 202, 0.25);
}

.task-content {
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.task-complete {
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-decoration: line-through;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}

.task-complete-button{
    background-color: transparent;
    border-style: none;
    font-size: 20px;
    color: #7e62ca;
}

.task-prev-button {
    background-color: transparent;
    border-style: none;
    font-size: 20px;
    color: rgba(0,0,0,0.5);
}

.task-delete-button {
    background-color: transparent;
    border-style: none;
    font-size: 20px;
    color: rgba(231, 86, 60, 0.9);
} 